---
import { Image } from 'astro:assets';
import ChipGroup from '../Timeline/ChipGroup.astro';
import Linkish from '../Timeline/Linkish.astro';
import BlobGreener from './BlobGreener.astro';
import BlobPink from './BlobPink.astro';

interface Props {
	alt: string;
	chips?: string[];
	link?: string;
	reverse?: boolean;
	src: ImageMetadata;
	title: string;
}

const { alt, chips, reverse, src, ...linkProps } = Astro.props;
---

<div>
	<div
		class=`flex ${reverse ? 'flex-col md:flex-row-reverse md:space-x-reverse' : 'flex-col md:flex-row'} relative ${reverse ? 'items-end' : 'items-start'} md:items-center ${reverse ? 'ml-12 md:ml-36' : 'mr-12 md:mr-36'} space-y-12 md:space-y-24 md:space-x-6`
	>
		<div class=`relative flex items-center py-12 ${reverse ? 'justify-end' : 'justify-start'}`>
			{reverse ? <BlobPink /> : <BlobGreener />}
			<Image
				src={src}
				alt={alt}
				class=`aspect-[16/9] w-[80%] relative z-10 ${reverse ? 'rounded-l-xl md:rounded-l-3xl' : 'rounded-r-xl md:rounded-r-3xl'}`
			/>
		</div>
		<div
			class=`flex flex-col relative top-0 md:top-1/2 md:translate-y-1/2 max-w-72 md:max-w-112 ${reverse ? 'mr-12 md:mr-0' : 'ml-12 md:ml-0'}`
		>
			<div class="pb-2"><Linkish {...linkProps} /></div>
			<slot />
			<ChipGroup chips={chips} />
		</div>
	</div>
</div>
