:root
{
    --language: rgb(97, 216, 241);
    --type: rgb(252, 27, 112);
    --program: rgb(164, 288, 0);
    --client: rgb(254, 150, 0);
    --hack: "Hack", monospace;
}

.button
{
    font-size: 2vw;
    padding: 1vw;
    font-family: var(--hack);
    background-color: rgba(0,0,0,0);
    border-style: none;
}

ul .button
{
    float: left;
}

ul .button:hover
{
    color: var(--blinding-white);
    background-color: var(--stinger-grey);
    border-radius: 10px;
}

.visible
{
    diplay: block;
}

.invisible
{
    display: none;
}

.dark ul
{
    list-style: none;
    padding-bottom: 8vw;
}

.language
{
    font-style: italic;
    color: var(--language);
}

.type
{
    color: var(--type);
}

.program
{
    color: var(--program);
}

.client
{
    font-style: italic;
    color: var(--client);
}

.selected
{
    color: var(--midnight-black);
    border-radius: 10px;
}

.selected.language
{
    background-color: var(--language);
}

.selected.type
{
    background-color: var(--type);
}

.selected.program
{
    background-color: var(--program);
}

.selected.client
{
    background-color: var(--client);
}

@media screen and (max-width: 700px)
{
    .button
    {
        font-size: 4vw;
        padding: 2vw;
    }
}