:root
{
    --language: rgb(97, 216, 241);
    --type: rgb(252, 27, 112);
    --program: rgb(164, 288, 0);
    --client: rgb(254, 150, 0);
    --hack: "Hack", monospace;
}

.button
{
    font-size: 2vw;
    padding: 1vw;
    font-family: var(--hack);
    background-color: rgba(0,0,0,0);
    border-style: none;
}

.button:hover
{
    background-color: var(--stinger-grey);
    border-radius: 10px;
}

.language
{
    font-style: italic;
    color: var(--language);
}

.type
{
    color: var(--type);
}

.program
{
    color: var(--program);
}

.client
{
    font-style: italic;
    color: var(--client);
}