:root
{
    --midnight-black: rgb(27, 27, 27);
    --stinger-grey: rgb(140, 140, 150);
    --blinding-white: rgb(255, 255, 255);
    --cloud-grey: rgb(190, 192, 198);
    --honeycomb-yellow: rgb(250, 210, 57);
    --pollen-yellow: rgb(188,144,64);
    --quicksand: "Quicksand", sans-serif;
}

@import "topNav.css";

html
{
    font-family: var(--quicksand);
}

body
{
    background: var(--honeycomb-yellow);
}

.impression
{

}

.impression h1
{
    background-color: rgba(0,0,0,0);
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    color: var(--blinding-white);
    text-shadow: 4px 4px var(--midnight-black);
}

.wrapper
{
    background: var(--midnight-black);
    padding: 0vw 2vw 0vw 2vw;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.impression p
{
    font-size: 200%;
    text-align: center;
    padding: 1vw 0vw 1vw 0vw;
    color: var(--blinding-white);
    line-height: 48px;
}

.impression p a.text:link, .impression p a.text:visited
{
    text-align: center;
    text-decoration: none;
    color: var(--blinding-white);
}

.impression p a.text:hover, .impression p a.text:active
{
    background-color: var(--stinger-grey);
    padding: 10px;
    text-align: center;
    color: var(--honeycomb-yellow);
    border-radius: 10px;
}

.dark
{
    background: var(--midnight-black);
    padding: 60px;
    border-radius: 10px;
}

.dark h1
{
    background-color: var(--midnight-black);
    color: var(--honeycomb-yellow);
    font-size: 76px;
    font-weight: bold;
    text-align: left;
    line-height: 96px;
    margin: 0px;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 0px;
}

.dark h2
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    line-height: 52px;
    margin: 0px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
}

.dark p
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dark p img
{
    float: left;
    width: 30%;
    height: auto;
    margin-right: 20px;
}

.dark ul
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    padding-left: 90px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style-image: url("img/hex/grey.png");
    list-style-position: outside;
}

.dark a.text:link, .dark a.text:visited
{
    background-color: none;
    color: var(--blinding-white);
    font-size: 24px;
    text-align: left;
    text-decoration: none;
}

.dark a.text:hover, .dark a.text:active
{
    background-color: var(--honeycomb-yellow);
    color: var(--blinding-white);
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.light
{
    background: var(--blinding-white);
    padding: 60px;
}

.light p
{
    background-color: var(--blinding-white);
    color: var(--cloud-grey);
    font-size: 180%;
    text-align: right;
    line-height: 30px;
}

.footer
{
    background-color: var(--pollen-yellow);
    border-radius: 10px;
}

.footer p
{
    background-color: rgba(0,0,0,0);
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: var(--blinding-white);
}

.sidenav
{
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 50%;
    margin-top: -100px;
    right: 0;
    background-color: rgba(0,0,0,0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-right: 32px;
}

.sidenav a
{
    padding: 12px;
    display: block;
}

.image-link
{
    padding: 32px;
    width: auto;
    height: 64px;
}

.honeycomb
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    padding: 40px;
}

.center.links
{
    width: 680px;
}

.grid
{
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0vw 4vw 10vw 4vw;
}

.icon-link:link, .icon-link:visited
{
    background-color: none;
    color: var(--stinger-grey);
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
}

.icon-link:active, .icon-link:hover
{
    color: var(--blinding-white);
}

.icon-link img
{
    padding: 2vw;
    height: 7vw;
    width: auto;
}

.stack-top
{
    z-index: 1;
}

@media screen and (max-width: 700px)
{
    .impression p
    {
        background-color: rgba(0,0,0,0);
        font-size: 4.5vw;
        text-align: center;
        color: var(--blinding-white);
    }

    .wrapper
    {
        width: 90%;
    }

    .dark
    {
        padding: 20px;
    }

    .dark h1
    {
        font-size: 8.5vw;
        line-height: 9vw;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .dark h2
    {
        font-size: 5vw;
        line-height: 6vw;
        padding-left: 20px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .dark p
    {
        font-size: 4.5vw;
        line-height: 5vw;
        padding-left: 20px;
        padding-top: 0px;
        padding-right: 20px;
    }

    .dark ul
    {
        font-size: 4.5vw;
        line-height: 5vw;
        padding-left: 60px;
        padding-top: 0px;
        padding-right: 20px;
    }

    .dark a.text:link
    {
        font-size: 4.5vw;
        line-height: 5vw;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
    }

    .dark.top
    {
        border-radius: 0px 10px 10px 10px;
    }

    .sidenav
    {
        display: none;
    }

    .footer p
    {
        font-size: 3.5vw;
    }

    .link
    {
        height: 9vw;
        padding: 2.5vw;
    }

    .center.links
    {
        width: 100%;
        height: 3vw;
        padding-bottom: 20vw;
    }

    .icon-link:link
    {
        font-size: 6vw;
    }

    .icon-link img
    {
        height: 40vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .grid
    {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding: none;
        margin-left: 20%;
        margin-right: 20%;
    }
}