:root
{
    --night-black: rgb(0, 0, 0);
    --blinding-white: rgb(255, 255, 255);
    --honeycomb-yellow: rgb(250, 210, 57);
}

body
{
    background: var(--honeycomb-yellow);
}

.impression
{
    background: var(--honeycomb-yellow);
}

.programming
{
    background: var(--night-black);
    padding: 60px;
}

p.programming
{
    background-color: var(--night-black);
    color: var(--blinding-white);
}

.design
{
    background: var(--blinding-white);
    padding: 60px;
}

p.design
{
    background-color: var(--blinding-white);
    color: var(--night-black);
}

.honeycomb
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    margin: 20px;
}

.stack-top
{
    z-index: 1;
}