@import "new-main.css";
@import "topNav.css";
@import "filter.css";

body
{
    background-color: var(--midnight-black);
}

.column
{
    display: flex;
    flex-wrap: wrap;
    padding: 10vw 2vw;
}

/* Create four equal columns that sits next to each other */
.row
{
    display: flex;
    max-width: 100%;
    padding: 0 0vw;
}

.row img
{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--stinger-grey);
    transition: .5s ease;
}

.middle
{
    background-color: rgba(0,0,0,0.5);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    margin: 5px;
}

.middle p
{
    color: var(--honeycomb-yellow);
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.75vw;
}

/* Just a wrapper thing to support mouse hovering */
.canvas
{
    margin-bottom: 8vw;
    vertical-align: middle;
    position: relative;
    width: 33%;
    height: auto;
}

.canvas:hover img
{
    width: 100%;
    border-color: var(--honeycomb-yellow);
}

.canvas:hover .middle
{
    transition-delay: 0.5s;
    opacity: 1;
}

.footer
{
    background-color: var(--honeycomb-yellow);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px)
{
    .row
    {
        display: block;
        flex: 100%;
        max-width: 100%;
    }

    .canvas
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .middle p
    {
        font-size: 4.5vw;
    }
}