@import "new-main.css";
@import "topNav.css";

.impression p
{
    background-color: rgba(0,0,0,0);
    font-size: 180%;
    text-align: center;
    color: var(--blinding-white);
}

.dark p img
{
    width: 27vw;
}

.dark .large img
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 3vw;
}

@media screen and (max-width: 700px)
{
    .dark p img
    {
        width: 100%;
        padding-bottom: 10px;
    }
}