:root
{
    --midnight-black: rgb(0, 0, 0);
    --stinger-grey: rgb(120, 120, 130);
    --blinding-white: rgb(255, 255, 255);
    --cloud-grey: rgb(160, 160, 160);
    --honeycomb-yellow: rgb(250, 210, 57);
    --quicksand: "Quicksand", sans-serif;
}

@import "topNav.css";

html
{
    font-family: var(--quicksand);
}

body
{
    background: var(--honeycomb-yellow);
}

.impression
{

}

.impression h1
{
    background-color: rgba(0,0,0,0);
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    color: var(--blinding-white);
}

.impression p
{
    background-color: rgba(0,0,0,0);
    font-size: 200%;
    text-align: center;
    color: var(--blinding-white);
}

.impression p a.text:link, p a.text:visited
{
    text-align: center;
    text-decoration: none;
    color: var(--blinding-white);
}

.impression p a.text:hover, p a.text:active
{
    background-color: var(--blinding-white);
    padding: 10px;
    text-align: center;
    color: var(--honeycomb-yellow);
    border-radius: 10px;
}

.dark
{
    background: var(--midnight-black);
    padding: 60px;
}

.dark h1
{
    background-color: var(--midnight-black);
    color: var(--honeycomb-yellow);
    font-size: 76px;
    font-weight: bold;
    text-align: left;
    line-height: 96px;
    margin: 0px;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 0px;
}

.dark h2
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    line-height: 52px;
    margin: 0px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
}

.dark p
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dark p img
{
    float: left;
    width: 30%;
    height: auto;
    margin-right: 20px;
}

.dark ul
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    padding-left: 90px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style-image: url("img/hex/grey.png");
    list-style-position: outside;
}

.dark a.text:link, a.text:visited
{
    background-color: var(--midnight-black);
    color: var(--stinger-grey);
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    line-height: 36px;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dark a.text:hover, a.text:active
{
    background-color: var(--honeycomb-yellow);
    color: var(--blinding-white);
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    line-height: 36px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.light
{
    background: var(--blinding-white);
    padding: 60px;
}

.light p
{
    background-color: var(--blinding-white);
    color: var(--cloud-grey);
    font-size: 180%;
    text-align: right;
    line-height: 30px;
}

.footer p
{
    background-color: rgba(0,0,0,0);
    font-size: 150%;
    text-align: center;
    padding: 20px;
    color: var(--blinding-white);
}

.sidenav
{
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 60px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 50%;
    margin-top: -100px;
    right: 0;
    background-color: rgba(0,0,0,0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-right: 32px;
}

.sidenav a
{
    padding: 12px;
    display: block;
}

.image-link
{
    padding: 32px;
    width: auto;
    height: 64px;
}

.honeycomb
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    padding: 40px;
}

.stack-top
{
    z-index: 1;
}

@media screen and (max-width: 700px)
{
    .impression p
    {
        background-color: rgba(0,0,0,0);
        font-size: 4.5vw;
        text-align: center;
        color: var(--blinding-white);
    }

    .dark
    {
        padding: 20px;
    }

    .dark h1
    {
        font-size: 8.5vw;
        line-height: 9vw;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    .dark h2
    {
        font-size: 5vw;
        line-height: 6vw;
        padding-left: 20px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .dark p
    {
        font-size: 4.5vw;
        line-height: 5vw;
        padding-left: 20px;
        padding-top: 0px;
        padding-right: 20px;
    }

    .dark ul
    {
        font-size: 4.5vw;
        line-height: 5vw;
        padding-left: 60px;
        padding-top: 0px;
        padding-right: 20px;
    }

    .sidenav
    {
        padding-right: 0px;
    }

    .footer p
    {
        font-size: 4vw;
    }

    .link
    {
        height: 9vw;
        padding: 2.5vw;
    }
}