@import "new-main.css";
@import "topNav.css";

body
{
    background-color: var(--midnight-black);
}

.row
{
    display: flex;
    flex-wrap: wrap;
    padding: 10vw 2vw;
}

/* Create four equal columns that sits next to each other */
.column
{
    flex: 20%;
    max-width: 45%;
    padding: 0 4vw;
}

.column img
{
    display: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--stinger-grey);
    transition: .5s ease;
}

/* Just a wrapper thing to support mouse hovering */
.canvas
{
    margin-bottom: 10vw;
    vertical-align: middle;
    position: relative;
}

.canvas:hover img
{
    width: 100%;
    border-color: var(--honeycomb-yellow);
}

.canvas:hover .middle
{
    opacity: 1;
}

.canvas a
{
    background-color: var(--blinding-white);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--midnight-black);
}

.footer
{
    background-color: var(--honeycomb-yellow);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px)
{
    .column
    {
        flex: 100%;
        max-width: 100%;
    }
}