@import "new-main.css";
@import "topNav.css";

body
{
    background-color: var(--midnight-black);
}

.footer
{
    background-color: var(--honeycomb-yellow);
}

.row
{
    height: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.column
{
    max-width: 100%;
    margin: auto;
}

.column img
{
    max-height: 90vh;
    max-width: 100%;
    margin: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px)
{

}