@import "new-main.css";
@import "topNav.css";

body
{
    background-color: var(--midnight-black);
}

.footer
{
    background-color: var(--honeycomb-yellow);
}

.row
{
    height: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(var(--blinding-white), var(--stinger-grey) 35%, var(--midnight-black) 90%);
}

.column
{
    padding-left: 3vw;
    padding-right: 3vw;
}

.column img
{
    height: 90vh;
    display: block;
    margin: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px)
{
    .row
    {
        display: block;
    }

    .column
    {
        padding: 3vw;
    }

    .column img
    {
        height: auto;
        width: 90vw;
    }
}