@import "main.css";
@import "topNav.css";

body
{
    background-color: var(--midnight-black);
}

.footer
{
    background-color: var(--honeycomb-yellow);
}

.display
{
    padding-top: 5vw;
    background-image: linear-gradient(var(--blinding-white), var(--stinger-grey) 35%, var(--midnight-black) 90%);
}

.display img
{
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 40vw;
    display: block;
    margin: auto;
    padding: 0vw 1vw 18vw 1vw;
}

@media screen and (max-width: 700px)
{
    .display img
    {
        height: auto;
        width: 90vw;
        max-height: none;
        max-width: none;
        padding-bottom: 40vw;
    }
}