@import "main.css";
@import "topNav.css";
@import "filter.css";

.grid
{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    padding-left: 5vw;
}

.grid img
{
    width: 70%;
    height: auto;
    opacity: 1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--stinger-grey);
    transition: .5s ease;
}

.middle
{
    background-color: rgba(0,0,0,0.5);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    margin: 5px;
}

.middle p
{
    background: none;
    color: var(--honeycomb-yellow);
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.6vw;
    line-height: normal;
}

/* Just a wrapper thing to support mouse hovering */
.canvas
{
    margin-bottom: 8vw;
    vertical-align: middle;
    position: relative;
    width: auto;
    height: auto;
    display: none;
}

.canvas:hover img
{
    width: 100%;
    border-color: var(--honeycomb-yellow);
}

.canvas:hover .middle
{
    transition-delay: 0.5s;
    opacity: 1;
}

.show
{
    margin-bottom: 8vw;
    vertical-align: middle;
    position: relative;
    width: auto;
    height: auto;
    display: block;
}


.footer
{
    background-color: var(--midnight-black);
}

.footer p
{
    color: var(--stinger-grey);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px)
{
    .dark
    {
        border-radius: 0px 10px 10px 10px;
    }

    .grid
    {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 5vw;
        padding-left: 0vw;
    }

    .grid img
    {
        width: 120%;
    }

    .canvas
    {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .canvas:hover img
    {
        width: 130%;
    }

    .middle
    {
        width: 130%;
    }

    .middle p
    {
        font-size: 4.5vw;
    }
}