@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--font-sans: Quicksand, sans-serif;

	--color-*: initial;
	--color-night: #22071a;
	--color-coral: #e0a38e;
	--color-sand: #eed3cb;
	--color-pink: #e3b1d1;
	--color-lime: #b0ef9e;
	--color-frog: #29534a;
	--color-blush: #f5d4e8;
	--color-purple: #782b62;
	--color-brown: #613c2d;
	--color-teal: #289c88;
	--color-debug-100: #ff0000;
	--color-debug-200: #ffff00;
	--color-debug-300: #00ff00;
	--color-debug-400: #00ffff;
	--color-debug-500: #0000ff;
	--color-debug-600: #ff00ff;

	--text-xs: 0.5rem;
	--text-xs--line-height: calc(0.6 / 0.5);
	--text-sm: 0.75rem;
	--text-sm--line-height: calc(0.9 / 0.75);
	--text-base: 0.875rem;
	--text-base--line-height: calc(1.05 / 0.875);
	--text-lg: 1rem;
	--text-lg--line-height: calc(1.2 / 1);
	--text-xl: 1.25rem;
	--text-xl--line-height: calc(1.5 / 1.25);
	--text-2xl: 1.625rem;
	--text-2xl--line-height: calc(1.95 / 1.625);
	--text-3xl: 1.75rem;
	--text-3xl--line-height: calc(2.1 / 1.75);
	--text-4xl: 2.5rem;
	--text-4xl--line-height: calc(3 / 2.5);
	--text-5xl: 4rem;
	--text-5xl--line-height: calc(4.8 / 4);
}

@layer components {
	/* text */
	.title {
		@apply text-coral text-3xl font-bold tracking-tight md:text-5xl;
	}
	.big {
		@apply text-coral text-base font-medium tracking-tight md:text-xl;
	}
	.large {
		@apply text-sand text-base font-medium tracking-tight md:text-lg;
	}
	.body {
		@apply text-sand text-sm font-medium tracking-tight md:text-base;
	}
	.small {
		@apply text-pink text-xs font-normal tracking-tight md:text-sm;
	}
	.chip {
		@apply bg-frog text-lime rounded-full border border-transparent p-2 text-xs md:text-sm;
	}
	.link {
		@apply hover:cursor-pointer hover:underline active:cursor-pointer active:underline;
	}
	/* layout */
	.section {
		@apply relative px-12 md:px-28;
	}
	.footer {
		@apply sticky max-w-92 px-12 pb-36 md:mt-28 md:ml-28 md:px-0 md:pb-16;
	}
	.col-group {
		@apply md:grid md:grid-cols-2 md:gap-32;
	}
	.col-item {
		@apply h-auto justify-items-center md:flex-col;
	}
	/* navbar */
	.navsection {
		@apply fixed bottom-16 z-999 flex w-full justify-center md:sticky md:top-12 md:bottom-0;
		@apply pointer-events-none opacity-0 transition-opacity duration-150;
	}
	.navbar {
		@apply bg-brown/50 w-[297px] space-x-4 rounded-full border border-transparent px-4 py-3 backdrop-blur-sm md:w-auto md:px-8 md:py-4 md:backdrop-blur-lg;
	}
	.navlink {
		@apply text-blush relative z-1001 px-2 py-2 text-lg font-medium tracking-tight md:px-4 md:text-2xl;
	}
	.navlink-active {
		@apply rounded-full;
	}
	.navbubble {
		@apply bg-purple absolute z-1000 rounded-full transition-all duration-300 ease-in-out;
	}
	/* hero title */
	.hero-title {
		@apply flex items-center overflow-hidden;
	}
	.slider-section {
		@apply ml-1.75 grid md:ml-4;
	}
	.slider {
		@apply m-0;
	}
	/* misc. */
	.icon-link {
		@apply text-pink text-2xl md:text-4xl;
		@apply hover:text-sand active:text-sand hover:cursor-pointer active:cursor-pointer;
	}
	.icon-copy {
		@apply text-xs md:hidden md:text-sm;
		@apply group-hover:inline;
	}
	.image-about {
		@apply float-left mr-3 aspect-square w-37 rounded-full md:float-none md:mr-0 md:w-64;
	}
}
