---
import Timeline from '../Timeline';
---

<section id="about" class="section px-4.5 pt-24 md:px-12 md:pt-42">
	<h2 class="title mb-24 ml-7.5 md:ml-0">About 🦘</h2>
	<div class="col-group space-y-9 md:space-y-0">
		<div class="col-item md:space-y-12">
			<img class="image-about" src="/src/assets/headshot.png" alt="headshot of Joey Bishop" />
			<p class="big">
				I'm a curious and motivated full-stack engineer with a passion for building accessible,
				performant web experiences.<br /><br />TypeScript and React are my bread and butter, but I
				like exploring different technologies.<br /><br />I have experience building DevOps
				workflows with GitHub Actions and Kubernetes.<br /><br />I earned my undergraduate degree in
				Computational Media and am pursuing a Master’s in Computer Science.<br /><br />When I’m not
				coding, I’m writing, playing games, or hanging out with my wife and pets.
			</p>
		</div>
		<div class="col-item justify-items-start space-y-6">
			<Timeline
				title="🧠 Georgia Institute of Technology"
				start="2024"
				link="https://omscs.gatech.edu/"
			>
				<p class="body">Master's of Science in Computer Science<br />Expected Spring 2026</p>
			</Timeline>
			<Timeline
				title="Fullstack Engineer • NCR Voyix"
				start="2021"
				chips={[
					'TypeScript',
					'React',
					'Redux',
					'Next.js',
					'Node.js',
					'GraphQL',
					'NestJS',
					'GCP',
					'Angular',
					'Java',
					'Spring Boot',
					'Hibernate',
					'PostgreSQL',
					'GitOps',
					'Docker',
					'Kubernetes',
					'GitHub'
				]}
				link="https://www.ncrvoyix.com/"
			>
				<p class="body">
					Develop and maintain full stack eCommerce solutions for restaurant and retail partners
					fitted with microservice backend and lightweight frontend UI. Tackle business problems at
					multiple stages of software development, from prototyping to product maintenance. Support
					continuous integration and continuous delivery of software solutions.
				</p>
				<div class="pt-2">
					<h4 class="large">Aloha Order Direct</h4>
					<p class="body">
						Deliver reusable components and hooks that are grounded in best practices for languages
						and libraries. Guarantee reliant and quality software by reviewing code for frontend
						changes.
					</p>
				</div>
				<div class="pt-2">
					<h4 class="large">Silver Commerce</h4>
					<p class="body">
						Identify, research, and resolve customer issues in a timely manner as needed. Delivered
						reliable, automated deployments by migrating CI/CD process. Ensured customer payment
						information is handled securely by raising the application to PCI compliance.
					</p>
				</div>
			</Timeline>
			<Timeline
				title="🎓 Georgia Institute of Technology"
				start="2017"
				end="2020"
				link="https://www.gatech.edu/"
			>
				<p class="body">
					Bachelor’s of Science in Computational Media<br />Fall 2020 | Highest Honors
				</p>
			</Timeline>
			<Timeline
				title="Frontend Engineer • Georgia Tech"
				start="Sep"
				end="Dec 2020"
				chips={['JavaScript', 'HTML/CSS', 'Web Dev']}
			>
				<p class="body">
					Maximized user engagement and accessibility by refactoring HTML, CSS, and JavaScript code.
					Developing webpage mockups with Affinity Designer to communicate ideas with team members.
				</p>
			</Timeline>
			<Timeline
				title="Software Tutor • Kids 4 Coding"
				start="Jun"
				end="Jul 2019"
				chips={['Python', 'Lua', 'Scratch', 'Robotics']}
				link="https://www.kids4coding.com/"
			>
				<p class="body">
					Taught children basic computer science concepts through computing experiences such as
					block-based coding, circuit board construction, and game development.
				</p>
			</Timeline>
		</div>
	</div>
</section>
