---
import Timeline from "../Timeline";
---

<div class="h-screen">
    <section id="about" class="section pt-42">
        <h2 class="title mb-24">About 🦘</h2>
        <div class="col-group">
            <div class="col-item space-y-12">
                <img class="aspect-square w-64" src="/img/headshot.png" alt="headshot photo of Joey Bishop"/>
                <p class="big">Yeah I like learning about a bunch of stuff.<br><br>I enjoy full-stack work and love TypeScript + React webdev. I like making websites accessible and performant. I have some DevOps experience with GitHub Actions + Kubernetes.<br><br>I got my undergrad in Computational Media, and am getting my Master’s in Computer Science.<br><br>When I’m not coding, I’m writing, playing games, or hanging out with my wife and pets.</p>
            </div>
            <div class="col-item space-y-6 justify-items-start">
                <Timeline
                    title="🧠 Georgia Institute of Technology"
                    start="2024"
                    link="https://omscs.gatech.edu/">
                    <p class="body">Master's of Science in Computer Science<br>Expected Spring 2026</p>
                </Timeline>
                <Timeline
                    title="Fullstack Engineer • NCR Voyix"
                    start="2021"
                    chips={['TypeScript','TypeScript','TypeScript','TypeScript']}
                    link="https://www.ncrvoyix.com/">
                    <p class="body">Develop and maintain full stack eCommerce solutions for restaurant and retail partners fitted with microservice backend and lightweight frontend UI. Tackle business problems at multiple stages of software development, from prototyping to product maintenance. Support continuous integration and continuous delivery of software solutions.</p>
                    <div class="pt-2">
                        <h4 class="large">Aloha Order Direct</h4>
                        <p class="body">Deliver reusable components and hooks that are grounded in best practices for languages and libraries. Guarantee reliant and quality software by reviewing code for frontend changes.</p>
                    </div>
                    <div class="pt-2">
                        <h4 class="large">Silver Commerce</h4>
                        <p class="body">Identify, research, and resolve customer issues in a timely manner as needed. Delivered reliable, automated deployments by migrating CI/CD process. Ensured customer payment information is handled securely by raising the application to PCI compliance.</p>
                    </div>
                </Timeline>
                <Timeline
                    title="🎓 Georgia Institute of Technology"
                    start="2017"
                    end="2020"
                    link="https://www.gatech.edu/">
                    <p class="body">Bachelor’s of Science in Computational Media<br>GPA: 3.66 / 4.0</p>
                </Timeline>
                <Timeline
                    title="Frontend Engineer • Georgia Tech"
                    start="Sep"
                    end="Dec 2020"
                    chips={['TypeScript','TypeScript','TypeScript','TypeScript']}>
                    <p class="body">Maximized user engagement and accessibility by refactoring HTML, CSS, and JavaScript code. Developing webpage mockups with Affinity Designer to communicate ideas with team members.</p>
                </Timeline>
                <Timeline
                    title="Software Tutor • Kids 4 Coding"
                    start="Jun"
                    end="Jul 2019"
                    chips={['TypeScript','TypeScript','TypeScript','TypeScript']}
                    link="https://www.kids4coding.com/">
                    <p class="body">Taught children basic computer science concepts through computing experiences such as block-based coding, circuit board construction, and game development.</p>
                </Timeline>
            </div>
        </div>
    </section>
</div>