---
import HeroTitle from "../HeroTitle/HeroTitle.astro";
---

<div class="h-screen mb-64">
    <div class="relative top-1/2">
        <div class="section">
            <HeroTitle />
            <a href="#about" class="big link text-xl md:text-2xl">View my work ⤵</a>
        </div>
    </div>
</div>