---
import HeroTitle from '../HeroTitle/HeroTitle.astro';
---

<div class="mb-64 h-screen">
	<div class="relative top-1/2">
		<div class="section">
			<HeroTitle />
			<a href="#about" class="big link text-xl md:text-2xl">View my work ⤵</a>
		</div>
	</div>
</div>
