---
import HeroTitle from '../HeroTitle/HeroTitle.astro';
---

<div class="mb-64 h-screen">
	<div class="relative top-1/2">
		<div class="section">
			<HeroTitle />
			<a href="#about" class="big link text-xl md:text-2xl">View my work <div class="inline-block transform -scale-x-100 icon-arrow"><i class="bi bi-arrow-90deg-down" /></div></a>
		</div>
	</div>
	<!-- <Stars /> -->
</div>
