---
---

<div class="h-screen mb-64">
    <div class="relative top-1/2">
        <div class="section">
            <h1 class="title pb-24">Hi, I’m Joey 👋<br>and I code things.</h1>
            <a href="#about" class="big link text-2xl">View my work ⤵</a>
        </div>
    </div>
</div>