---
import NavLink from './NavLink.astro';
---
<nav id='navbar' class="navsection">
    <div class="navbar">
        <div id="nav-bubble" class="navbubble" />
        <NavLink data-nav="about" path="#about">About</NavLink>
        <NavLink data-nav="projects" path="#projects">Projects</NavLink>
        <NavLink data-nav="contact" path="#contact">Contact</NavLink>
    </div>
</nav>