---
import { NavLink } from "../components/Navigation";
import Layout from "../layouts/Layout.astro";
---
<Layout title="🌌 Error" excludeNavbar>
    <h1>Welcome to the end of the universe</h1>
    <p>Enjoy the abyss, I guess</p>
    <NavLink path="/">Leap into a wormhole</NavLink>
</Layout>