---
import { NavLink } from "../components/Navigation";
import Layout from "../layouts/Layout.astro";
---
<Layout title="😵 Error" excludeNavbar>
    <h1>500</h1>
    <p>Uh, this is embarassing</p>
    <NavLink path="/">Run away!</NavLink>
</Layout>