---
interface Props {
    chips?: string[];
}

const { chips } = Astro.props;

if (!chips) return;
---

<div class="flex flex-row flex-wrap mt-2 gap-2">
    {chips.map((chip) => <div class="chip">{chip}</div>)}
</div>