html
{
    font-family: "Quicksand", sans-serif;
}

body
{
    background: rgb(255, 255, 255);
    margin: 0px;
}

.page
{
    background-color: rgb(230, 130, 150);
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: wrap-content;
}

.buttonLeft
{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 6vw;
    height: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    transition: opacity 0.25s;
}

.buttonLeft:hover
{
    opacity: 1;
}

.buttonRight
{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 6vw;
    height: 100%;
    z-index: 1;
    background-color: rgb(225, 225, 225);
    opacity: 0.6;
    transition: opacity 0.25s;
}

.buttonRight:hover
{
    opacity: 1;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
    position: absolute;
    z-index: 1;
    margin-top: 1vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 1vw;
}

.page-img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.text
{
    text-align: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

.texture
{
    width: 100%;
    height: auto;
}

.cover
{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
}

.cover-text
{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
    text-align: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

/*******
 Here is where all of the different layouts are defined.
 The structure for a layout name is:
    .Number of images on the layout
    -which image this is on the layout/ text on the layout
    -the layout number (allows for randomization of different layouts)
 *******/

.double-0-0
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
}

.double-1-0
{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

.double-text-0
{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
}

.double-0-1
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.double-1-1
{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 9;
}

.double-text-1
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
}

.double-0-2
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
}

.double-1-2
{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 9;
}

.triple-0-0
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.triple-1-0
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 9;
}

.triple-2-0
{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}

.triple-0-1
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 9;
}

.triple-1-1
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.triple-2-1
{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 9;
}

.triple-0-2
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
}

.triple-1-2
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.triple-2-2
{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
}

.triple-text-2
{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
}